{% extends "basic/layout.html" %}


{% block header %}

<div class="related">
  <h3>{{ _('Navigation') }}</h3>
  <div><a href="{{ pathto('index') }}">Acceuil</a></div>
  {{ toctree(maxdepth=2) }}
</div>

<div class="header">
  <img class="header" src="{{ pathto('_static/' + pagename.replace('/', '-') + '-header.jpg', 1) }}"/>
</div>

{% endblock %}

{% block relbar1 %}
{% endblock %}


{% block relbar2 %}
   <div style="clear: both"/>
{% endblock %}


{%- block sidebarsearch %}{%- endblock %}
{%- block sidebarlogo %}{%- endblock %}
{%- block sidebarsourcelink %}{%- endblock %}
{%- block sidebar2 %}{%- endblock %}

