
@import url(http://fonts.googleapis.com/css?family=Trykker);


body {
  font-family: 'Trykker', serif;
  font-size: 16px;
  text-align: justify;
}

h1 {
 /*text-align: left;
 font-size: 30px;*/
 display: None;
}

div.document {
  width: 800px;
  margin: 0px auto 2em;
}

div.header, div.footer{
  margin: 0px auto 2em;
  text-align: center;
}

div.header img {
  width: 800px;

}

div.related {
  text-align: left;
  font-size: 80%;
  position: fixed;
  top: 2%;
  left: 2%;
}

div.related a {
  text-decoration: none;
  color: black;
}

div.related ul {
 list-style: none;
 padding-left: 4px;
 margin: 0;
}

span.bigfont {
 font-size : 300%;
}

span.author {
 font-weight: bold;
 font-style: italic;
 font-size : 150%;
}

.columns {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;

  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-gap: 50px;

  -moz-column-rule-width: 15px;
  column-rule-width: 15px;
  -webkit-column-rule-width: 15px;

}

